/* Add a background color to the header element */
header{
    background-color: seagreen; 
}
/* Add a fun background color to the main element */
main{
    background-color: aquamarine;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}
/* Make your p tag a different color and italic */
p{
    color: rgb(58, 58, 104);
    font-style: italic
}
/* Put a border around your image */
    img{
        border: 5px solid magenta; padding: 3px; margin: 10px;
        background-color: aqua;
    }
/* Change the font-family of your list */
ol{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Add a background color to the footer element */
footer{
    background-color: palevioletred;
}